
    <section class="d-flex img-opsi flex-row flex-wrap justify-content-around">
    <img src="~/css/WhatsApp Şəkil 2023-07-18 saat 17.04.56.jpg" class="sahin rounded-start-pill" alt="...">
        <div class="yazi">
            <p><span class="car-1 family">Şahin</span><br><span class="car-1 family">Məlikəhmədov</span></p>
            <p class="white-footer">
                MIROAR seyfesi 25/12/2023 cu ilde yaradilmis masin satis  proqramidir  Artıq 22 ildən artıqdır ki,
                Azərbaycanda fəaliyyət göstərən MIROAR müxtəlif markalı Avtomobiller, məişət texnikasının və elektronika mallarının topdan, korporativ və pərakəndə satışını həyata keçirir.
            </p>
        </div>
    </section>

    